<div>
    <h2>Login</h2>
    <form>
        <div class="form-group">
            <label for="usernameForm">Username</label>
            <input type="text" #username class="form-control" id="usernameForm" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="passwordForm">Password</label>
            <input type="password" #password class="form-control" id="" placeholder="Password" required>
        </div>
        <div [hidden]="loginFailed">
            <p id="fail-text" class="failed fade-in">You've entered incorrect credentials...</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="validateLogin(username.value, password.value)">Login</button>
    </form>
    <br>
    <p>Don't have an account? <a href="#" routerLink="/register">Register here</a></p>
<div>