<div>
    <div>

        <label for="addMoney">How much would you like to withdraw?</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">$</span>
            </div>
            <input type="text" class="form-control" id="addMoney" aria-describedby="basic-addon3" [(ngModel)]="value"
                placeholder="0.00" numbersOnly>
            <button type="submit" class="btn btn-purple" (click)="withdrawMoney()">Withdraw</button>
        </div>
        <div [hidden]="!addError">
            <p id="fail-text" class="failed fade-in">{{errorMsg}}</p>
        </div>
        <div *ngIf="showTransaction" id="transaction-summary">
            <app-transaction-card [type]="transaction.type" [dateOfTransaction]="dateOfTransaction"
                [timeOfTransaction]="timeOfTransaction" [walletBalanceBefore]="transaction.walletBalanceBefore"
                [savingBalanceBefore]="transaction.savingBalanceBefore"
                [walletBalanceAfter]="transaction.walletBalanceAfter" [savingBalanceAfter]="transaction.savingBalanceAfter"
                [source]="transaction.source" [destination]="transaction.destination" [amount]="transaction.amount">
            </app-transaction-card>
        </div>
    
    </div>
</div>